
.st0 {
    fill:#F8B0B1;
}

.st1 {
    fill:#151D45;
}

.st2 {
    fill:#F16060;
}

div.face {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

@keyframes popMe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3) rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.happy {
    animation-name: popMe;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}